@import "tailwindcss";



body{
    margin: 0;
    padding:0;
    background-color:white;
    width:100%;
    box-sizing: border-box;
}

*{
  font-family:gilroy;
}

/* set scrollbar height and weidth to 0 so that it will be removed from page */
::-webkit-scrollbar{
    width: 0px;
    height:0px;
    background-color: rgb(134, 40, 196)
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.custom-text-shadow {
  text-shadow: 8px 8px 18px rgba(10, 10, 10, 0.6); 
}



/* .products {
    mix-blend-mode: multiply; 
  }
   */
/* shimmer card animations */
/* @keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
} */

/* .shimmer {
  background: linear-gradient(90deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
} */