@import "tailwindcss";


body {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  box-sizing: border-box; /* Includes padding & border in total size */
  background-color: white; /* Base background color */

  /* Grid pattern background */
  background-image: 
      linear-gradient(to right, #0202020a 1px, transparent 0.5px),
      linear-gradient(to bottom, #3d3d3d0a 1px, transparent 0.5px);
  background-size: 14px 24px; /* Grid spacing */
}

html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
}




*{
  font-family:gilroy;
}

/* set scrollbar height and weidth to 0 so that it will be removed from page */
::-webkit-scrollbar{
    width: 0px;
    height:0px;
    background-color: rgb(134, 40, 196)
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.custom-text-shadow {
  text-shadow: 8px 8px 18px rgba(10, 10, 10, 0.6); 
}



/* .products {
    mix-blend-mode: multiply; 
  }
   */
/* shimmer card animations */
/* @keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
} */

/* .shimmer {
  background: linear-gradient(90deg, #f3f3f3 25%, #e0e0e0 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
} */